BOT_TOKEN =                                    # Ваш токен бота(узнать у @BotFather)
ADMIN_IDS =                                    # Айди менеджеров/админов, чтобы приходили заявки(узнавать у @userinfo3bot)